.mainContainer {
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    width: 70%;
}

.mainContainer h2 {
    text-align: center;
    margin: 0 0 1em 0;
}

.tableContainer {
    max-height: 300px !important;
}

.tableCell {
    background-color: #3f51b5 !important;
    color: white !important;
}